footer.footer
    .footer__logo
        span Explore Bangladesh
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Sourav-Sayem. All rights reserved.