extend base

block content 
  .find-container
    h1.find-container__heading
      | Get Tourist Spot With Distance From Your Location
    .container__distance
      label.container__distance--name(for='distance') Enter Distance:
      input.continer__distance--field(type='number' name='distance')
    .container__enter--input Enter
