extends base

block content 
    header.header__original
        .header__box
            .heading-primary--index
                span.heading-primary--main Outdoors
                span.heading-primary--sub Is Where The Life Happens
    main
        section.section__about
            .u-center-text.u-margin-bottom-medium
                h2.heading-secondary--index
                    | Explore Bangladesh
            .row
                .col-1-of-2
                    h3.heading-tertiary-index.u-margin-bottom-small
                        | Adventure Awaits, Lets Find It
                    p.about-text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis numquam eos omnis quibusdam alias magnam, accusamus error, dolore sint rerum. Assumenda aliquid, tenetur dolorum deserunt labore minus recusandae molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        br
                        br
                        | Magnam maxime rem reprehenderit deleniti, natus libero? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, hic? Maxime soluta.
                .col-1-of-2
                    .composition
                        img.composition__photo.composition__photo--p1(src='./img/backpic-1.jpg' alt='photo-1')
                        img.composition__photo.composition__photo--p2(src='./img/backpic-2.jpg' alt='photo-2')
                        img.composition__photo.composition__photo--p3(src='./img/backpic-3.jpeg' alt='photo-3')
            .u-center-text.u-margin-top-medium
                a.btn.btn--blue(href='/explore') Explore Now
        section.section__card
            .card__index
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src='./img/tours/tour-1-cover.jpg' alt='Tour 1')
                        h3.heading-tertirary
                            span Sundarban Exploration 
                    .card__details
                        h4.card__sub-heading Easy 5-day tour
                        p.card__text
                            | Breathtaking hike through the Canadian Banff National Park
                        .card__data
                            svg.card__icon
                            use(xlink:href='./img/icons.svg#icon-map-pin')
                            span Banff, Canada
                        .card__data
                            svg.card__icon
                            use(xlink:href='./img/icons.svg#icon-calendar' crossorigin='')
                            span April 2021
                        .card__data
                            svg.card__icon
                                use(xlink:href='./img/icon.svg#icon-flag')
                            span 3 stops
                        .card__data
                            svg.card__icon
                                use(xlink:href='./img/icon.svg#icon-user')
                            span 25 people
                    .card__footer
                        p
                            span.card__footer-value $297
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value 4.9
                            span.card__footer-text rating (21)
                        a.btn.btn--green.btn--small(href='#') Details
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src='./img/tours/tour-2-cover.jpg' alt='Tour 1')
                        h3.heading-tertirary
                            span The Sea Explorer
                    .card__details
                        h4.card__sub-heading Medium-difficult 7-day tour
                        p.card__text
                            | Exploring the jaw-dropping US east coast by foot and by boat
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span Oregon, US
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span June 2021
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-flag')
                            span 4 stops
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-user')
                            span 15 people
                    .card__footer
                        p
                            span.card__footer-value $497
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value 4.8
                            span.card__footer-text rating (12)
                        a.btn.btn--green.btn--small(href='#') Details
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src='./img/tours/tour-3-cover.jpg' alt='Tour 1')
                        h3.heading-tertirary
                            span The Snow Adventurer
                    .card__details
                        h4.card__sub-heading Difficult 3-day tour
                        p.card__text
                            | Exciting adventure in the snow with snowboarding and skiing
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span Aspen, USA
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span January 2022
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-flag')
                            span 2 stops
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-user')
                            span 10 people
                    .card__footer
                        p
                            span.card__footer-value $697
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value 4.9
                            span.card__footer-text rating (7)
                        a.btn.btn--green.btn--small(href='#') Details
            .u-center-text.u-margin-top-medium
                a.btn_index.btn--normal(href='#') Discover all tours &rarr;
